# Functions

In [1]:
def hello():
    print("Hi, i am first function of python.")

In [2]:
hello()

Hi, i am first function of python.

In [3]:
hello()

Hi, i am first function of python.

In [4]:
# No Args & No return type
def add():
    var1 = int(input("Enter the value of var1:"))
    var2 = int(input("Enter the value of var2:"))
    var3 = var1 + var2
    print("Addtion:",var3)

In [5]:
add()

Enter the value of var1: 12
Enter the value of var2: 456

Addtion: 468

In [6]:
# With Args & No return type
def subtract(var1, var2):
    var3 = var1 - var2
    print("Subtact:",var3)

In [10]:
subtract(45.978,33.678)

Subtact: 12.300000000000004

In [11]:
# No Args & With return type
def exp():
    var1 = int(input("Enter the value of var1:"))
    var2 = int(input("Enter the value of var2:"))
    var3 = var1 ** var2
    return var3

In [12]:
print("Exp:",exp())

Enter the value of var1: 2
Enter the value of var2: 10

Exp: 1024

In [13]:
var4 = exp()
print("Exp:",var4)

Enter the value of var1: 2
Enter the value of var2: 10

Exp: 1024

In [14]:
# With Args & With return type
def divide(var1,var2):
    var3 = var1/var2
    return var3

In [15]:
print("Divide:",divide(22,7))

Divide: 3.142857142857143

### Working with Python Module

In [17]:
import test

In [18]:
test.hello()

Hi, i am first function of python.

In [19]:
test.add()

Enter the value of var1: 45
Enter the value of var2: 89

Addtion: 134

In [22]:
from test import *

In [21]:
add()

Enter the value of var1: 56
Enter the value of var2: 75

Addtion: 131

In [23]:
print(exp())

Enter the value of var1: 3
Enter the value of var2: 10

59049

# List()

In [25]:
l1 = list(range(0,11))
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
name = ["Vishwajeet","Satyam","Harsh","Vinod"]
name

['Vishwajeet', 'Satyam', 'Harsh', 'Vinod']

In [27]:
type(name)

list

In [28]:
l2 = ["Vinod","Satyam",12.36,True,None,10,20]
print(l2)

['Vinod', 'Satyam', 12.36, True, None, 10, 20]

In [34]:
l2[-4]

True

In [38]:
l1 = [10,20,30,40,50]

for i in l1:
    print(i, end=',')

10,20,30,40,50,

In [39]:
l1

[10, 20, 30, 40, 50]

In [40]:
l1.insert(1,12.5)

In [41]:
l1

[10, 12.5, 20, 30, 40, 50]

In [42]:
l1.append(60)

In [43]:
l1

[10, 12.5, 20, 30, 40, 50, 60]

In [44]:
value = []

while True:
    print("S.No.:",len(value)+1)
    
    x = input()
    if x == "Q":
        break
    value.append(x)
    
for item in value:
    print(item)

S.No.: 1

 Data Science

S.No.: 2

 machine Learning

S.No.: 3

 AI

S.No.: 4

 Deep Learning

S.No.: 5

 Q

Data Science
machine Learning
AI
Deep Learning

In [47]:
str1 = "Sumanta"

print(str1[0:4])

Suma

In [48]:
mylist = []

for letter in str1:
    mylist.append(letter)
print(mylist)

['S', 'u', 'm', 'a', 'n', 't', 'a']

In [49]:
 mylist = [letter for letter in str1]

In [50]:
mylist

['S', 'u', 'm', 'a', 'n', 't', 'a']

# Dictionary

In [51]:
dict1 = {"key1":2564564, "key2":[10,20,30,40], "key3":"Vishwajeet", "key4":["ml","ai","dl","ds","nlp"]}

In [52]:
dict1

{'key1': 2564564,
 'key2': [10, 20, 30, 40],
 'key3': 'Vishwajeet',
 'key4': ['ml', 'ai', 'dl', 'ds', 'nlp']}

In [53]:
dict1['key1']

2564564

In [54]:
dict1['key2']

[10, 20, 30, 40]

In [58]:
dict1['key4'][0:-1]

['ml', 'ai', 'dl', 'ds']

In [61]:
dict1['key3'][1:-1]

'ishwajee'

In [62]:
dict1.values()

dict_values([2564564, [10, 20, 30, 40], 'Vishwajeet', ['ml', 'ai', 'dl', 'ds', 'nlp']])

In [63]:
dict1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [64]:
dict1.items()

dict_items([('key1', 2564564), ('key2', [10, 20, 30, 40]), ('key3', 'Vishwajeet'), ('key4', ['ml', 'ai', 'dl', 'ds', 'nlp'])])

In [65]:
d2 = {10:"Vishwajeet", 20:"Satyam", 30:"Harsh"}

In [66]:
d2[10]

'Vishwajeet'

In [67]:
d2[30]

'Harsh'