In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\my lenovo\appdata\local\programs\python\python38\lib\site-packages (1.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\my lenovo\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\my lenovo\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.19.5)

WARNING: You are using pip version 20.2.1; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\users\my lenovo\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pytz>=2017.3 in c:\users\my lenovo\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2020.4)
Requirement already satisfied: six>=1.5 in c:\users\my lenovo\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.

'c:\users\my' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.2.2'

In [5]:
l1 = ["Harsh", "Shubham", "Khemraj", "Rajeev", "Vishwajeet"]
l1

['Harsh', 'Shubham', 'Khemraj', 'Rajeev', 'Vishwajeet']

In [6]:
type(l1)

list

In [7]:
pd.Series(l1)

0         Harsh
1       Shubham
2       Khemraj
3        Rajeev
4    Vishwajeet
dtype: object

In [13]:
l2 = [10,20,30,40,50]

l2 = pd.Series(l2)
l2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
l3 = [True, False, False, True]

pd.Series(l3)

0     True
1    False
2    False
3     True
dtype: bool

In [14]:
type(l2)

pandas.core.series.Series

In [15]:
int("Vishwajeet")

ValueError: invalid literal for int() with base 10: 'Vishwajeet'

In [16]:
str("12")

'12'

In [17]:
l2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [22]:
l2[1:4]

1    20
2    30
3    40
dtype: int64

In [23]:
d1 = {
    "Vishwajeet":"is my name",
    "Harsh":"is my friend",
    "Shubham":"is my student"
}

s1 = pd.Series(d1)

In [24]:
s1

Vishwajeet       is my name
Harsh          is my friend
Shubham       is my student
dtype: object

In [26]:
s1["Harsh"]

'is my friend'

In [27]:
l1 = ["Harsh", "Shubham", "Khemraj", "Rajeev", "Vishwajeet"]

s1 = pd.Series(l1)
s1

0         Harsh
1       Shubham
2       Khemraj
3        Rajeev
4    Vishwajeet
dtype: object

In [28]:
s1.values

array(['Harsh', 'Shubham', 'Khemraj', 'Rajeev', 'Vishwajeet'],
      dtype=object)

In [29]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [30]:
s1.dtype

dtype('O')

In [32]:
l2 = [2.99, 3.14, 1.36, 4.55, 5.67, 7.89]
s1 = pd.Series(l2)
s1

0    2.99
1    3.14
2    1.36
3    4.55
4    5.67
5    7.89
dtype: float64

In [33]:
s1.sum()

25.6

In [34]:
s1.product()

2599.0294676018398

In [35]:
s1.mean()

4.266666666666667

In [36]:
s1.median()

3.8449999999999998

In [37]:
s1.sort_values()

2    1.36
0    2.99
1    3.14
3    4.55
4    5.67
5    7.89
dtype: float64

In [38]:
l1 = ["Apple", "Orange", "Grape", "Mango"]
l2 = ["Mon", "Tue", "Wed", "Thru"]

pd.Series(l1, l2)

Mon      Apple
Tue     Orange
Wed      Grape
Thru     Mango
dtype: object

In [40]:
pd.Series(data=l1, index=l2)

Mon      Apple
Tue     Orange
Wed      Grape
Thru     Mango
dtype: object

In [41]:
pd.Series(l1, index=l2)

Mon      Apple
Tue     Orange
Wed      Grape
Thru     Mango
dtype: object

In [45]:
data = pd.read_csv("pokemon.csv", usecols=["Pokemon"])

In [47]:
data

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [48]:
data.shape

(721, 1)

In [49]:
data = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)

In [50]:
data

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [51]:
data.shape

(721,)

In [53]:
data.head(20)

0      Bulbasaur
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
5      Charizard
6       Squirtle
7      Wartortle
8      Blastoise
9       Caterpie
10       Metapod
11    Butterfree
12        Weedle
13        Kakuna
14      Beedrill
15        Pidgey
16     Pidgeotto
17       Pidgeot
18       Rattata
19      Raticate
Name: Pokemon, dtype: object

In [55]:
data.tail(8)

713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [57]:
google = pd.read_csv("google_stock_price.csv", squeeze=True)
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [58]:
def perform(num):
    if num < 300:
        return "OK"
    if num >= 300 and num < 700:
        return "Satisfactory"
    else:
        return "Best"

In [66]:
google.apply(perform).tail(60)

2952            Best
2953            Best
2954            Best
2955            Best
2956            Best
2957            Best
2958            Best
2959            Best
2960            Best
2961            Best
2962            Best
2963            Best
2964            Best
2965            Best
2966            Best
2967            Best
2968            Best
2969            Best
2970            Best
2971            Best
2972            Best
2973            Best
2974            Best
2975            Best
2976            Best
2977    Satisfactory
2978    Satisfactory
2979    Satisfactory
2980    Satisfactory
2981            Best
2982    Satisfactory
2983    Satisfactory
2984    Satisfactory
2985    Satisfactory
2986    Satisfactory
2987    Satisfactory
2988    Satisfactory
2989    Satisfactory
2990    Satisfactory
2991            Best
2992            Best
2993            Best
2994            Best
2995            Best
2996            Best
2997            Best
2998            Best
2999            Best
3000            Best
3001            Best
3002            Best
3003            Best
3004            Best
3005            Best
3006            Best
3007            Best
3008            Best
3009            Best
3010            Best
3011            Best
Name: Stock Price, dtype: object